.bg-brand
    background-color: $brand-color

    &.dark
        background-color: $dark-brand-color

.bg-green
    background-color: $green-color

    &.dark
        background-color: $dark-green-color

.bg-orange
    background-color: $orange-color

    &.dark
        background-color: $dark-orange-color

.bg-blue
    background-color: $blue-color

    &.dark
        background-color: $dark-blue-color

.bg-purple
    background-color: $purple-color

    &.dark
        background-color: $dark-purple-color

.bg-grey
    background-color: $grey-color

    &.dark
        background-color: $dark-grey-color

// BORDER
.bd-brand
    border-color: $brand-color

    &.dark
        border-color: $dark-brand-color

.bd-green
    border-color: $green-color

    &.dark
        border-color: $dark-green-color

.bd-orange
    border-color: $orange-color

    &.dark
        border-color: $dark-orange-color

.bd-blue
    border-color: $blue-color

    &.dark
        border-color: $dark-blue-color

.bd-purple
    border-color: $purple-color

    &.dark
        border-color: $dark-purple-color

.bd-grey
    border-color: $grey-color

    &.dark
        border-color: $dark-grey-color

// SPACER
.spacer
    width: 100%
    height: 1px