$brand-font: HelveticaNeue-Light, Helvetica Neue Light, times
$brand-normal: HelveticaNeue-Light, Helvetica Neue Light, times

$font-grey: #666666
$font-light: #fff

$fz-lg: 20px
$fz-md: 20px

.ft-brand
    color: $brand-color

.ft-green
    color: $green-color

.ft-orange
    color: $orange-color

.ft-blue
    color: $blue-color

.ft-purple
    color: $purple-color

.ft-dark-grey
    color: $dark-grey-color