@font-face {
    font-family: "Reviens";
    src: url('../fonts/Reviens.eot');
    src: url('../fonts/Reviens.eot?#iefix') format('eot'),
        url('../fonts/Reviens.woff') format('woff'),
        url('../fonts/Reviens.ttf') format('truetype'),
        url('../fonts/Reviens.svg#Reviens') format('svg');
}

%ico {
    font-family: "Reviens";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

@function ico-char($filename) {
    $char: "";

    @if $filename == arrow-down {
        $char: "\E001";
    }
    @if $filename == arrow-right {
        $char: "\E002";
    }
    @if $filename == camera {
        $char: "\E003";
    }
    @if $filename == circle {
        $char: "\E004";
    }
    @if $filename == close {
        $char: "\E005";
    }
    @if $filename == cross {
        $char: "\E006";
    }
    @if $filename == friends {
        $char: "\E007";
    }
    @if $filename == home {
        $char: "\E008";
    }
    @if $filename == location {
        $char: "\E009";
    }
    @if $filename == object {
        $char: "\E00A";
    }
    @if $filename == profil {
        $char: "\E00B";
    }
    @if $filename == round-plus {
        $char: "\E00C";
    }
    @if $filename == search {
        $char: "\E00D";
    }
    @if $filename == speak {
        $char: "\E00E";
    }
    @if $filename == valid {
        $char: "\E00F";
    }

    @return $char;
}

@mixin ico($filename, $insert: before) {
    &:#{$insert} {
        @extend %ico;
        content: ico-char($filename);
    }
}

.ico-arrow-down {
    @include ico(arrow-down);
}
.ico-arrow-right {
    @include ico(arrow-right);
}
.ico-camera {
    @include ico(camera);
}
.ico-circle {
    @include ico(circle);
}
.ico-close {
    @include ico(close);
}
.ico-cross {
    @include ico(cross);
}
.ico-friends {
    @include ico(friends);
}
.ico-home {
    @include ico(home);
}
.ico-location {
    @include ico(location);
}
.ico-object {
    @include ico(object);
}
.ico-profil {
    @include ico(profil);
}
.ico-round-plus {
    @include ico(round-plus);
}
.ico-search {
    @include ico(search);
}
.ico-speak {
    @include ico(speak);
}
.ico-valid {
    @include ico(valid);
}