@include keyframes(page_enter)
    0%
        @include transform(translate(100%, 0px))
    100%
        @include transform(translate(0px, 0px))

@include keyframes(page_leave)
    0%
        @include transform(translate(0px, 0px))
    100%
        @include transform(translate(-100%, 0px))

.page
    width: 100%
    height: 100%
    display: block
    position: absolute

    .header
        position: relative
        width: 100%
        height: 65px
        display: block
        @extend .fz-lg
        text-transform: uppercase
        color: $font-light
        cursor: pointer
        font-weight: normal
        +display-flex
        +flex(1)
        +flex-direction(initial)
        +align-items(center)

        .ico
            width: 70px
            display: inline-block
            @extend .fz-xlg
            vertical-align: top
            text-align: center

        &:hover
            text-decoration: none

    .back
        position: absolute
        top: 0px
        left: 0px
        display: block
        vertical-align: middle
        height: 100%

.ng-enter
    &.page
        @include animation(page_enter 400ms ease-in-out)

.ng-leave
    &.page
        @include animation(page_leave 400ms ease-in-out)