$white-color: #fff
$brand-color: #1fb7c0
$green-color: #2ecc71
$orange-color: #e67e22
$blue-color: #3498db
$purple-color: #9b59b6
$dark-grey-color: #34495e

$font-grey: #666666
$font-light: #fff

// $fz-xs: 12px
// $fz-sm: 14px
// $fz-md: 20px
// $fz-lg: 30px
// $fz-xlg: 40px
// $fz-xxlg: 50px

$fz-xs: 3.7vw
$fz-sm: 4.3vw
$fz-md: 6vw
$fz-lg: 9vw
$fz-xlg: 12vw
$fz-xxlg: 15vw