<!-- partials/home.html -->
<div>
    <ul class="menu">
        <li class="bg-brand" ui-sref="home"><h1>{{ 'MENU_BRAND' | translate }}</h1></li>
        <li class="bg-green" ui-sref="profil"><span>{{ 'MENU_PROFIL' | translate }}</span></li>
        <li class="bg-orange" ui-sref="objects"><span>{{ 'MENU_OBJECTS' | translate }}</span></li>
        <li class="bg-blue" ui-sref="friends"><span>{{ 'MENU_FRIENDS' | translate }}</span></li>
        <li class="bg-purple" ui-sref="notifications"><span>{{ 'MENU_NOTIFICATIONS' | translate }}</span></li>
        <li class="bg-dark-grey" ui-sref="search"><span>{{ 'MENU_SEARCH' | translate }}</span></li>
    </ul>
</div>