<!-- partials/profil.html -->
<div class="header bg-green">
    <div ng-include="'partials/block-back.html'"></div>
    {{ 'HEADER_PROFIL' | translate }}
</div>

<ul class="list">
    <li>
        <div class="col-xs-5 text-center ft-green fz-md">{{ 'PROFIL_TAKE_PICTURE' | translate }}</div>
        <div class="col-xs-5 text-center ft-green fz-md">{{ 'PROFIL_CHOOSE_PICTURE' | translate }}</div>
        <span class="col-xs-2">
            <span class="ft-green ico ico-cross"></span>
        </span>
    </li>
    <li>
        <span class="col-xs-3 text-center">
            <span class="ft-green ico ico-profil"></span>
            <div class="fz-xs">{{ 'PROFIL_NAME' | translate }}</div>
        </span>
        <div class="col-xs-7 fz-md">Nom</div>
        <span class="col-xs-2">
            <span class="ft-green ico ico-arrow-right"></span>
        </span>
    </li>
    <li>
        <span class="col-xs-3 text-center">
            <span class="ft-green ico ico-location"></span>
            <div class="fz-xs">{{ 'PROFIL_CITY' | translate }}</div>
        </span>
        <div class="col-xs-7 fz-md">City</div>
        <span class="col-xs-2">
            <span class="ft-green ico ico-arrow-right"></span>
        </span>
    </li>
</ul>